
{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock title %}

{% block css%}
<style>
body {
    background: darkslategrey !important;
}
    
#form {
    border: 2px solid white !important;
    max-width: 750px;
    padding: 20px;
    margin: 12% auto;
    width: 450px;
 }

 label {
    width: 50% !important;
    float: left;
    color: white;
 }

 input[type="submit"] {
    width: 50%;
    border: none;
    background: #4fbbf1;
    padding: 8px;
    border-radius: 8px;
}
</style>
{% endblock css%}

{% block content %}
<form id="form" action="/courses/add/new">
    <input type="hidden" id="tutor_id" name="tutor_id" value="{{ tutor_id}}"><br><br>
    
    <label for="course_name">Course name:</label>
    <input type="text" id="course_name" name="course_name"><br><br>
    
    <label for="course_duration">Course Duration (HH):</label>
    <input type="text" id="course_duration" name="course_duration" ><br><br>

    <label for="course_description">Course Description:</label>
    <textarea style="width: 182px;" id="course_description" name="course_description" ></textarea><br><br>

    <div style="text-align: center;"> <input type="submit" value="Submit">   </div>
  </form> 
  {% endblock content %}