{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock title %}

{% block css%}
<style>
body{
    background: darkslategrey !important;
}

#new-course, #tutor-link{
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: white;
    float: right;
    text-decoration: none;
    color:black;
}

#tutor-link{
    float: left;
    margin-left: 10px;
}

#course-table-div{
    margin: 10px;
    border: 2px solid white;
    padding: 10px;
    background: white;
}

</style>
{% endblock css%}

{% block content %}
<a id="new-course" href="add?id={{ tutor.id }}"> Add Course </a>
<a id="tutor-link" href="/tutor"> Go to Tutor </a>

<h2 style="text-align: center;color: rgb(255, 251, 251);">This course is offered by {{ tutor.first_name }} {{ tutor.last_name }}</h2>
<div id="course-table-div">
<table id="table_id" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="display: none;">ID</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Course Duration</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td style="display: none;"> </td>
            <th>{{course.course_name}}</th>
            <th>{{course.course_description}}</th>
            <th>{{course.course_duration}}</th>
            <th><a href="/courses/edit/{{ course.id}}">  Edit </a></th>
            <th><a href="/courses/delete/{{ course.id}}">  Delete </a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
        $('#table_id').DataTable();
    });
</script>
{% endblock content %}